@font-face
{
    font-family: "Avengers font";
    src: url("../../police/AVENGEANCE HEROIC AVENGER.ttf");
}

body
{
    padding-left: 10px;
    /*margin: 0;
    min-height: 100vh;*/
    /*display: flex;
   /* justify-content: center;*/
    /*align-items: center;
    background-color : black;
    background-image:url("../../images/fond_ecran.png");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;*/
}

.logo-gant
{
    width: 50px;
    margin-right: 10px;
}

.notif_insertion
{
    font-family: "Avengers font";
    font-size: 80px;
    margin : 50px;
}

#gant
{
    width: 238px;
    height: 322px;
}

footer
{
    border-top: 10px solid #ccc;
    padding-top: 10px;
    text-align: center;
    background-color : #212529;
    color:white;
}


* {
    box-sizing: border-box;
}

#titre_site
{
    font-family: "Avengers font";
    text-align: center;
    font-size: 40px;
}

body
{
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dust {
    position: absolute;

}