@font-face
{
    font-family: "Avengers font";
    src: url("../../police/AVENGEANCE HEROIC AVENGER.ttf");
}

body
{
    padding-left: 10px;
    /*margin: 0;
    min-height: 100vh;*/
    /*display: flex;*/
    justify-content: center;
    /*align-items: center;
    background-color : black;
    background-image:url("../../images/fond_ecran.png");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;*/
}

.logo-gant
{
    width: 40px;
    margin-right: 10px;
}

.notif_insertion
{
    font-family: "Avengers font";
    font-size: 80px;
    margin : 50px;
}

#gant
{
    width: 172px;
    height: 233px;
}

footer
{
    border-top: 10px solid #ccc;
    padding-top: 10px;
    text-align: center;
    background-color : #1d1e2c;
    color:white;
}

header
{
    height:200px;
    background-color : #1d1e2c;
    background-image: url("../../images/bandeau_siteweb.png");
    background-repeat:no-repeat;
    background-position:center center;
    margin-bottom: 10px;
}

.navbar {
    background-color: #1d1e2c;
}

* {
    box-sizing: border-box;
}

#titre_site
{
    font-family: "Avengers font";
    color : #e8a44e;
    font-size: 30px;
}

body
{
    justify-content: center;
    align-items: center;
}

.content {
    height: 233px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.content span
{
    visibility: hidden;
}

.comm
{
    font-size: 15px;
}

.content:hover .comm
{
    visibility: visible;
}